//
// Variables
//


//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES


/* MAIN GRID
--------------------------------------------------------------*/
body {
    word-wrap: break-word;
    position: relative;
}

// Skiplinks
#skiplinks {
    position: absolute;

    a {
        margin: 16px;
        padding: 10px;
        display: inline-block;
        background-color: $color-gray-dark;
        color: $color-white;
        text-decoration: underline;
        font-weight: bold;
        z-index: 1;
    }
}

#MainContentArea {
    background-image: none;
    display: inline;
    height: 0;
    padding: 0;
    width: 0;
}

.hideText {
    position: absolute;
    left: -10000px;
}

.hideText-for-small {
    position: absolute;
    left: -10000px;
}


/* LEFTAREA
--------------------------------------------------------------*/


/* CENTERAREA
--------------------------------------------------------------*/

.centerArea {
    background-color: $color-white;
    min-height: 10rem;
    padding-bottom: 3em;
}


/* GENERAL FORMAT
--------------------------------------------------------------*/
.pagelistingblock {
    h2, h3 {
        padding-top: 0;
        margin-top: 0;
    }
}


//--------------------------------------------------------------*/
// STARPAGE
//--------------------------------------------------------------*/
.StartPage, .ProjectStartPage {

    .textblock {
        margin-bottom: 2rem;

        h1 {
            padding-top: 0;
            font-size: 26px;
        }

        p {
            max-width: 32em;
            font-size: 1.125rem;
        }
    }

    .startpage-teaserarea {
        margin-top: 2rem;

        h2 {
            a {
                line-height: 1.25;
            }
        }

        .medium-6, .medium-4 {
            h2 {
                font-size: 19px;

                a:before {
                    background-position: 0 4px;
                }
            }
        }
    }

    .clickableArea {
        .panelImage {
            img {
                margin-bottom: 10px;
            }
        }
    }
}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// PROJECTSTARPAGE
//--------------------------------------------------------------*/
.ProjectStartPage {
    .eventlistblock {
        .eventListing {
            margin-top: 0rem;

            h2 {
                margin-top: 0;
                padding-top: 0;
            }

            .calendar-dates {
                time {
                    &.CalendarEventDateDay {
                        font-size: rem-calc(50px);
                    }

                    &.CalendarEventDateMonth {
                        font-size: rem-calc(18px);
                    }
                }
            }
        }
    }

    .textblock {
        margin-bottom: 2rem;

        h1 {
            padding-top: 0;
            font-size: 26px;
        }

        p {
            max-width: 32em;
            font-size: 1.125rem;
        }
    }

    .startpage-teaserarea {
        margin-top: 2rem;

        h2 {
            a {
                line-height: 1.25;
            }
        }

        .medium-6, .medium-4 {
            h2 {
                font-size: 19px;

                a:before {
                    background-position: 0 4px;
                }
            }
        }
    }

    .clickableArea {
        .panelImage {
            img {
                margin-bottom: 10px;
            }
        }
    }

    .pagelistingblock, .eventlistblock {
        margin-top: 3rem;
    }
}

//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// STANDARDPAGE
//--------------------------------------------------------------*/
.mainImage {
    padding-top: 55px;
}
// --------------------------------------------------------------*/
//--------------------------------------------------------------*/
// Panels & Blocks
//--------------------------------------------------------------*/
// BLOCK
// RELATED INFO
.relatedInfo {
    background-color: $color-gray;
    padding: 1.2rem 1.1rem;
    margin-top: 2rem;

    h2, h3, h4 {
        font-size: 1.25rem;
        margin: 0;
        padding: 0 0 0.5rem 0;
    }

    .editorBlock {

        p {

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.rootLink {
    text-align: right;

    a {
        display: inline-block;
        background: url(cssimg/icons-sprite.svg) transparent 0 10px no-repeat;
        padding: 5px 0 5px 25px;
        line-height: 1.35;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Panels
.panel {
    clear: both;
    padding: 0;
    margin-bottom: 1em;

    .media {
        overflow: hidden;

        h2 {
            line-height: 100%;
        }

        p {
            margin-bottom: 5px;
        }
    }
}

// Images in panels
.mediaImg {
    margin: 0 15px 0 0;

    &.left img {
        margin: 0 15px 0 0;
    }

    &.right img {
        margin: 0 0 0 15px;
    }

    &.center {
        margin: 0 0 15px 0;

        img {
            //float: left;
            width: 100%;
        }
    }
}

/* Panels startpage + standardpage -------------------- */
.informationblock {
    .related {
        float: right;
        width: 201px;
        margin: 0 0 15px 15px;
    }
}

// Teaserblock
.teaserblock {
    .panel {
    }
}


/* EventListing -------------------- */
.eventListing, .calendarListing {
    padding: 0;
    margin-top: 0;
    overflow: hidden;

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        li {
            border-bottom: 1px solid $border-color;
            padding: 2rem 0;
        }
    }

    h2, h3 {
        //font-family: $grotesk-medium;
        text-transform: none;
    }

    h2 {
        //font-size: rem-calc(20px);

        _a:after {
            content: "";
            display: inline-block;
            background: url(cssimg/icons-sprite.svg) transparent 0 4px no-repeat;
            width: 30px;
            height: 18px;
            margin-left: 1rem;
        }
    }

    h3 {
        font-size: rem-calc(20px);

        _a:after {
            content: "";
            display: inline-block;
            background: url(cssimg/icons-sprite.svg) transparent 0 4px no-repeat;
            width: 30px;
            height: 18px;
            margin-left: 1rem;
        }
    }

    .StartPage & {
        h2 {
            font-size: rem-calc(24px);
        }
    }

    .calendar-dates {
        padding: 0 1rem 0 0;
        font-family: inherit;
        line-height: 1.1;

        time {
            font-size: inherit;
            color: $color-black;
            display: block;

            &.CalendarEventDateDay {
                font-size: rem-calc(40px);
                //font-family: $grotesk-bold;
            }

            &.CalendarEventDateMonth {
                //font-family: $grotesk-medium;
                font-size: rem-calc(16px);
                text-transform: lowercase;
            }
        }
    }

    .CalendarEventTeaserText {
        padding-bottom: 0.75rem;

        p {
            //font-size: 1rem;
        }
    }

    .CalendarImg {
        margin: 1rem 0rem 1rem 0;
    }

    .rootLink {
        padding: 1.5rem 0 2.5rem 0;
        text-align: center;
        //font-family: $grotesk-medium;
        font-size: 1.25rem;
    }

    .CalendarEvent-time {
        margin-bottom: 1rem;

        .day {
            white-space: pre-line;
        }
    }


    .CalendarEvent-time,
    .CalendarEvent-place {
        padding: 0 0 0.5rem 3rem;
        position: relative;
        line-height: 1.2;

        &:before {
            position: absolute;
            content: "";
            width: 40px;
            height: 40px;
            background-image: url("cssimg/icons-sprite.svg");
            background-repeat: no-repeat;
            top: 3px;
            left: 1px;
        }
    }

    .CalendarEvent-time {
        &:before {
            background-position: 0px -1500px;
        }
    }

    .CalendarEvent-place {
        &:before {
            background-position: 5px -1550px;
        }
    }

    .pub-date {
        font-size: 0.875rem;
        color: #666;
        display: inline-block;
        margin-top: 5px;
    }

    time.pub-date {
        display: inline-block;
    }
}


/*.eventListing {
    margin-bottom: 10px;

    label {
        display: inline;
    }

    a {
        color: #000;
    }

    ul {
        border-top: 1px solid $border-color;
        margin-top: 1em;

        li {
            border-bottom: 1px solid $border-color;
            padding: 10px 0;
        }
    }

    input[type="submit"] {
        float: right;
    }
}*/

.eventListingContent {
}


// image-url arguments:
// $path: path relative to images directory in config.rb
// $path-only: if true, will cause only the path to be returned instead of a `url()` function
// $cache-buster: When set to `false` no cache buster will be used (i.e. `?313420982`)
$header-img: image-url('background/sass.gif', false, true);
// background-image: image-url("background/sass.gif", false, false);


.searchResultList {
    margin-top: 2rem;
    border-top: 4px solid $border-color;


    li.searchHit {
        list-style: none;
        padding: 1em 0 1.3em;
        border-bottom: 4px solid $border-color;

        .centerArea & {
            margin-left: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        a {
            display: block;
            background: url(cssimg/icons-sprite.svg) transparent 0 10px no-repeat;
            //background-image: $header-img;
            padding: 5px 0 5px 25px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        h3 {
            margin-bottom: 0;

            a {
                background-position: 0 12px;
            }
        }
    }
}

.pagelistingblock {
    .listing {
        border-top: 1px solid $border-color;

        li {
            padding: 1.5rem 0;
            border-bottom: 1px solid $border-color;

            h2, h3 {
                font-size: 19px;

                a {
                    &:before {
                        content: "";
                        display: inline-block;
                        background: url(cssimg/icons-sprite.svg) transparent 0 4px no-repeat;
                        width: 21px;
                        height: 17px;
                    }
                }
            }
        }
    }
}

.centerArea p a.underline-link {
    &:before {
        content: "";
        display: inline-block;
        background: url(cssimg/icons-sprite.svg) transparent 0 4px no-repeat;
        width: 21px;
        height: 17px;
    }
}

.importantnotice-wrapper {
    background-color: pink;

    .importantnotice-block {
        padding: 2em 0;

        h1, h2, h3 {
            margin-top: 0;
            padding-top: 0;
        }

        a {
            text-decoration: underline;
        }

        button, input[type=button],input[type=submit] {
            width: auto;
        }
    }
}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@media #{$medium-up} {

    .hideText-for-small {
        position: relative;
        left: auto;
    }

    .StartPage {

        .textblock {
            margin-bottom: 3rem;

            h1 {
                font-size: 2rem;
            }
        }

        .startpage-teaserarea {
            margin-top: 2.25rem;

            .medium-6 {
                h2 {
                    font-size: 22px;

                    a:before {
                        background-position: 0 2px;
                    }
                }
            }

            .medium-4 {
                h2 {
                    font-size: 19px;
                }
            }
        }

        .clickableArea {
            .panelImage {
                img {
                    margin-bottom: 10px;
                }
            }
        }
    }


    .ProjectStartPage {
        .eventlistblock {
            .eventListing {
                margin-top: 0rem;

                h2 {
                    margin-top: 0;
                    padding-top: 0;
                }

                .calendar-dates {
                    time {
                        &.CalendarEventDateDay {
                            font-size: rem-calc(40px);
                        }

                        &.CalendarEventDateMonth {
                            font-size: rem-calc(15px);
                        }
                    }
                }
            }
        }
    }




    .standardSearchArea {
        margin: 0 0 2rem 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .eventListing, .calendarListing {
        margin-top: 1.5rem;

        ul {
            li {
                padding: 3rem 0;
            }
        }

        h2 {
            //font-size: rem-calc(24px);
        }

        h3 {
            font-size: rem-calc(24px);
        }

        .calendar-dates {

            time {
                &.CalendarEventDateDay {
                    font-size: rem-calc(60px);
                    //font-family: $grotesk-bold;
                }

                &.CalendarEventDateMonth {
                    font-size: rem-calc(16px);
                }
            }
        }

        .CalendarEventTeaserText {
            p {
                //font-size: 1.125rem;
            }
        }

        .CalendarImg {
            margin: 0.5rem 0.5rem 1rem 0;
        }

        .rootLink {
            padding: 2.5rem 0 3rem 0;
            font-size: 1.75rem;
        }

        .CalendarEvent-time {
            margin-bottom: 0;
        }
    }
}
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@media #{$large-up} {

    .eventListing, .calendarListing {
        margin-top: 1.5rem;

        ul {
            li {
                border-bottom: 1px solid $border-color;
                padding: 3rem 0;
            }
        }

        h2 {
            //font-size: rem-calc(24px);
        }

        h3 {
            font-size: rem-calc(24px);
        }

        .calendar-dates {

            time {
                &.CalendarEventDateDay {
                    font-size: rem-calc(75px);
                }

                &.CalendarEventDateMonth {
                    font-size: rem-calc(23px);
                }
            }
        }

        .CalendarEventTeaserText {
            p {
                //font-size: 1.125rem;
            }
        }

        .CalendarImg {
            margin: 0.25rem 0.5rem 1rem 0;
        }

        .rootLink {
            padding: 2.5rem 0 3rem 0;
            font-size: 1.75rem;
        }

        .CalendarEvent-time {
            margin-bottom: 0;
        }
    }

    .ProjectStartPage {
        .eventlistblock {
            .eventListing {
                margin-top: 0rem;

                h2 {
                    margin-top: 0;
                    padding-top: 0;
                }

                .calendar-dates {
                    time {
                        &.CalendarEventDateDay {
                            font-size: rem-calc(60px);
                        }

                        &.CalendarEventDateMonth {
                            font-size: rem-calc(22px);
                        }
                    }
                }
            }
        }
    }

}
//--------------------------------------------------------------*/


//--------------------------------------------------------------*/
// SCREEN ONLY (Hide in print mode)
@media only screen {

    .tightUpRowlength {
        p, ul, ol, blockquote {
            max-width: 32em;
        }
    }
}
//--------------------------------------------------------------*/

