﻿@using Castle.Core.Internal
@using EPiServer.Web.Routing
@using Furb.Main.Lib.EpiExtensions
@model Furb.Features.LocalBlocks.SiteLogoType.SiteLogoTypeBlock

<span class="siteLogotypeBlock">
    @if (Model.ImageUrl != null)
    {
        if (!Model.PageLinkReference.IsNullOrEmpty())
        {
            @:<a href="@UrlResolver.Current.GetUrl(Model.PageLinkReference)">
        }
         
        <img width="170" height="60" src="@(Url.ContentUrl(Model.ImageUrl) + "?width=170&quality=90")" alt='@(Model.ImageAltText.IsNullOrEmpty() ?  " " : Model.ImageAltText)' />

        if (!Model.PageLinkReference.IsNullOrEmpty())
        {
            @:</a> 
         }
    }
</span>