﻿@model Furb.Features.LocalBlocks.Content.ContentBlock

@if (!string.IsNullOrWhiteSpace(Model.Intro))
{
    <p class="ingress">
        @Html.PropertyFor(x => x.Intro)
    </p>
}

@if (Model.MainBody != null)
{
    <div class="tightUpRowlength">
        @Html.PropertyFor(x => x.MainBody)
    </div>
}