﻿@using System.Globalization
@using EPiServer.Web.Routing
@using Furb.Features.LocalBlocks.Image
@using Furb.Main
@using Furb.Main.Lib.Epi.Interfaces
@using StringExtensions = Furb.Main.Lib.Extensions.StringExtensions
@model Furb.Features.Pages.Shared.SitePageData

@{
    var serverName = StringExtensions.GetBaseUrl();
    var settingsPage = ContentReferenceExtended.SettingsPage;
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (Model.DisableIndexing)
{
    <meta name="robots" content="noindex">
}
<title>@Model.MetaTitle - @(settingsPage != null ? settingsPage.SiteTileName : string.Empty)</title>

@if (!string.IsNullOrEmpty(Model.SocialTitle))
{
    <meta property="og:title" content="@Model.SocialTitle">
    <meta name="twitter:title" content="@Model.SocialTitle">
}
@if (!string.IsNullOrEmpty(Model.MetaDescription))
{
    <meta name="description" content="@Model.MetaDescription">
}
@if (!string.IsNullOrEmpty(Model.SocialDescription))
{
    <meta property="og:description" content="@Model.SocialDescription">
    <meta name="twitter:description" content="@Model.SocialDescription">
}
<meta property="og:url" content="@(serverName + UrlResolver.Current.GetUrl(Model.PageLink))">
<meta name="twitter:domain" content="@(serverName + UrlResolver.Current.GetUrl(Model.PageLink))">
<link rel="canonical" href="@(serverName + UrlResolver.Current.GetUrl(Model.PageLink))">
<meta property="og:locale" content="@CultureInfo.CreateSpecificCulture(Model.Language.Name).Name">
<meta property="og:type" content="article"/>
@if (settingsPage != null)
{
    if (!string.IsNullOrEmpty(settingsPage.SocialSiteName))
    {
        <meta property="og:site_name" content="@settingsPage.SocialSiteName">
    }
    if (!string.IsNullOrEmpty(settingsPage.TwitterCardType))
    {
        <meta property="twitter:card" content="@settingsPage.TwitterCardType">
    }
    if (!string.IsNullOrEmpty(settingsPage.TwitterOwner))
    {
        <meta property="twitter:site" content="@settingsPage.TwitterOwner">
    }
    if (!string.IsNullOrEmpty(settingsPage.FacebookPage))
    {
        <meta property="article:publisher" content="@settingsPage.FacebookPage"/>
    }
}

@if (Model.SocialImageUrl != null)
{
    <meta property="og:image" content="@(serverName + UrlResolver.Current.GetUrl(Model.SocialImageUrl))">
    <meta name="twitter:image:src" content="@(serverName + UrlResolver.Current.GetUrl(Model.SocialImageUrl))">
}
else
{
    if (Model is IHasMainImage<ImageBlock> hasMainImage && hasMainImage.PrimaryImageBlock != null && hasMainImage.PrimaryImageBlock.Image != null)
    {
        <meta property="og:image" content="@(serverName + UrlResolver.Current.GetUrl(hasMainImage.PrimaryImageBlock.Image))">
        <meta name="twitter:image:src" content="@(serverName + UrlResolver.Current.GetUrl(hasMainImage.PrimaryImageBlock.Image))">
    }
}