@using EPiServer.Web.Routing
@using Furb.Main.Lib.Epi.Extensions
@using Furb.Main.Lib.Epi.Interfaces
@using Furb.Features.LocalBlocks.Image
@using Furb.Features.LocalBlocks.PageTeaser
@using Furb.Features.Pages.Shared
@model Furb.Features.Blocks.PageListing.PageListingBlockViewModel

@if (!string.IsNullOrEmpty(Model.CurrentBlock.Header))
{
    <h2>@Model.CurrentBlock.Header</h2>
}

@if (Model.PageList.Any())
{
    
    <ul class="listing">
        @foreach (var page in Model.PageList)
        {
            var pageLinkText = (page is IHasTeaser<PageTeaserBlock> pageAsIHasLinkText && !string.IsNullOrEmpty(pageAsIHasLinkText.TeaserBlock.LinkText) ? pageAsIHasLinkText.TeaserBlock.LinkText : page.PageName);
            var pageAsIHasMainImage = page as IHasMainImage<ImageBlock>;
            var className = Model.CurrentBlock.ShowImages && pageAsIHasMainImage != null ? "medium-8 medium-push-4 columns" : "medium-12 columns";

            <li>
                <div class="row">
                    <div class="@className">
                        @if (Model.CurrentBlock.ShowIntroduction)
                        {
                            if (string.IsNullOrEmpty(Model.CurrentBlock.Header))
                            {
                                <h2>
                                    <a href="@UrlResolver.Current.GetUrl(page.ContentLink)">@page.Name</a>
                                </h2>
                            }
                            else
                            {
                                <h3>
                                    <a href="@UrlResolver.Current.GetUrl(page.ContentLink)">@page.Name</a>
                                </h3>
                            }
                        }
                            
                        @if (Model.CurrentBlock.ShowPublishDate && page.StartPublish != null)
                        {
                            <time datetime='@page.StartPublish.Value.ToString("s")'>@page.StartPublish.Value.ToString("d MMMM yyyy")</time>
                        }

                        @if (Model.CurrentBlock.ShowIntroduction && page is ContentPageData)
                        {
                            <span>@page.GetTeaserText()</span>
                        }

                        @if (!Model.CurrentBlock.ShowIntroduction)
                        {
                            <a href="@UrlResolver.Current.GetUrl(page.ContentLink)">@pageLinkText</a>
                        }
                    </div>

                    @if (Model.CurrentBlock.ShowImages && pageAsIHasMainImage?.PrimaryImageBlock != null && pageAsIHasMainImage.PrimaryImageBlock.Image != null && !String.IsNullOrEmpty(pageAsIHasMainImage.PrimaryImageBlock.AltText))
                    {
                        <div class="medium-4 medium-pull-8 columns">
                            <div class="mediaImg center">
                                @Html.DisplayFor(x => pageAsIHasMainImage.PrimaryImageBlock.Image)
                            </div>
                        </div>
                    }
                </div>
            </li>
        }
    </ul>

    if (Model.CurrentBlock.RootLink != null && Model.CurrentBlock.ShowRootLink)
    {
        <div class="rootLink">
            <a href="@UrlResolver.Current.GetUrl(Model.CurrentBlock.RootLink)">@Model.RootLinkText</a>
        </div>
    }
}