﻿@model FunkaLib.Forms.Blocks.FurbHoneypotBlock

<div style="display: none;" class="form-field Form__Element FormTextbox" data-epiforms-element-name="@Model.FormElement.ElementName" data-label="@Model.Label">
    <input class="FormTextbox__Input js-honeypot-field" type="text" id="@Model.Content.ContentGuid" name="@Model.FormElement.ElementName" />
</div>