﻿@using Castle.Core.Internal
@model IEnumerable<string>

@if (!Model.IsNullOrEmpty())
{
    <ul class="ulCategories">
        @foreach (var category in Model.ToList().OrderBy(x => x))
        {
            <li class="liCategory"><span>@category</span></li>
        }
    </ul>
}
