﻿@model EPiServer.SpecializedProperties.LinkItemCollection

@if (Model != null && Model.Any())
{
    <div id="TopLink" class="medium-6 medium-offset-6 columns">
        <ul>

            @foreach (var pageLink in Model)
            {
                <li>
                    <a href="@Url.ContentUrl(pageLink.Href)" target="@pageLink.Target" class="changeThis">@pageLink.Text</a>
                </li>
            }
        </ul>
    </div>
}