﻿@using EPiServer.Shell.Web.Mvc.Html
@using Furb.Main.Lib.MobileMenu
@using Furb.Main.Lib.MobileMenu.Interfaces
<div class="mobileNavigation">
    <nav id="MobileMenu" class="nav-bar show-for-small-only" data-lang="@Model.CurrentPage.LanguageID" data-nextlevel="@Html.Translate("/menu/nextlevel")" data-currentid="@Model.CurrentPage.PageLink.ID">
        @{
            var mobileMenuList = MobileMenuCache.GetMobileMenuCachedList(typeof(IMobileSitePageData), Model.CurrentPage.PageLink.ID, Model.CurrentPage.LanguageID);

            if (mobileMenuList.Count > 0)
            {
                @(Html.Raw(MobileMenuRender.RenderMenuList(mobileMenuList, Model.CurrentPage.PageLink.ID, Html.Translate("/menu/nextlevel"))))
            }
        }
    </nav>
</div>