﻿@using EPiServer.Web.Routing
@using Furb.Main
@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@if (Model.Section != null)
{
    <nav class="localNavigation" aria-label="local">
        <ul class="submenu">
            @Html.MenuList(Model.Section.ContentLink, ItemTemplate)
        </ul>
    </nav>
}

@helper ItemTemplate(HtmlHelpers.MenuItem firstLevelItem)
{
    var className = HtmlHelpers.GetCssClass(firstLevelItem);

    <li class="@(!string.IsNullOrEmpty(className) ? className : null)">
        @if (firstLevelItem.SelectedAndCurrentPage)
        {
            <span>@firstLevelItem.Page.PageName</span>
        }
        else
        {
            <a href="@Url.PageUrl(UrlResolver.Current.GetUrl(firstLevelItem.Page.ContentLink))">@firstLevelItem.Page.PageName</a>
        }

        @if (firstLevelItem.Selected && firstLevelItem.HasChildren.Value)
        {
            <ul>
                @Html.MenuList(firstLevelItem.Page.ContentLink, SubLevelItemTemplate)
            </ul>
        }
    </li>
}

@helper SubLevelItemTemplate(HtmlHelpers.MenuItem subLevelItem)
{
    var className = HtmlHelpers.GetCssClass(subLevelItem);

    <li class="@(!string.IsNullOrEmpty(className) ? className : null)">

        @if (subLevelItem.SelectedAndCurrentPage)
        {
            <span>@subLevelItem.Page.PageName</span>
        }
        else
        {
            @Html.PageLink(subLevelItem.Page)
        }

        @if (subLevelItem.Selected && subLevelItem.HasChildren.Value)
        {
            <ul>
                @Html.MenuList(subLevelItem.Page.ContentLink, SubLevelItemTemplate)
            </ul>
        }
    </li>
}