﻿@using Furb.Main
@model EPiServer.Core.IContent

@Html.BreadCrumbList(UnlinkedBreadTemplate, Model.ContentLink)

@helper UnlinkedBreadTemplate(HtmlHelpers.BreadCrumbItem breadItem)
{
    <div class="row">
        <div class="medium-12 columns">
            <ul class="breadcrumbs">

                @foreach (var item in breadItem.Ancestors)
                {
                    <li>@item.Name</li>
                }

                <li><strong>@Model.Name</strong></li>
            </ul>
        </div>
    </div>
}