﻿@using Furb.Features.Pages.Standard
@model Furb.Main.Interfaces.IPageViewModel<StandardPage>

@{
    Layout = "~/Main/Views/Shared/Layouts/_Content.cshtml";
}

<div class="contentArea">
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>