﻿@using EPiServer.Shell.Web.Mvc.Html
@using Furb.Features.LocalBlocks.SocialMediaShareLinks
@model SocialMediaShareLinksBlockViewModel

@{
    Html.EnableUnobtrusiveJavaScript(true);
    Html.EnableClientValidation(true);
}

@if (Model.IsActiv)
{
    <div class="row hide-for-print">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-12 columns">
                    <div id="sharethislinks">
                        <h2 class="shareText">@Html.Translate("/sharinglinks/sharing")</h2>
                        <ul>
                            @if (Model.CurrentBlock.ShowFacebookShareLink)
                            {
                                <li class="facebookShare"><a target="_blank" href="http://www.facebook.com/share.php?u=@Model.ShareLinkUrl"><span class="show-for-sr">@Html.Translate("/sharinglinks/sharingpageon")</span> <span class="hideText-for-small"> @Html.Translate("/sharinglinks/facebook")</span></a></li>
                            }

                            @if (Model.CurrentBlock.ShowTwitterShareLink)
                            {
                                <li class="twitterShare"><a target="_blank" href="http://twitter.com/home?status=@Model.ShareLinkUrl"><span class="show-for-sr">@Html.Translate("/sharinglinks/sharingpageon")</span> <span class="hideText-for-small">@Html.Translate("/sharinglinks/twitter")</span></a></li>
                            }

                            @if (Model.CurrentBlock.ShowLinkedInShareLink)
                            {
                                <li class="linkedinShare"><a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=@Model.ShareLinkUrl"><span class="show-for-sr">@Html.Translate("/sharinglinks/sharingpageon")</span> <span class="hideText-for-small">@Html.Translate("/sharinglinks/linkedin")</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}