﻿@using EPiServer.Web.Mvc.Html

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@{
    Layout = "_Site.cshtml";
}

<div class="row">
    <div class="contentarea">
        <div class="medium-4 columns hide-for-small-only hide-for-print">
        </div>
        <div class="medium-8 small-12 columns">
            <main>
                <div class="centerArea">
                    <a id="MainContentArea" tabindex="-1"></a>

                    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>
                        @Html.PropertyFor(x => x.CurrentPage.PageName)
                    </h1>

                    @RenderBody()

                </div>
            </main>
        </div>
    </div>
</div>