﻿@using System.Web.Optimization
@using Castle.Core.Internal
@using EPiServer.Core
@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html
@using Furb.Main

@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Shared.SitePageData>

@{
    var localizable = Model.CurrentPage as ILocalizable;
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="@localizable.Language"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="@localizable.Language"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="@localizable.Language"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="@localizable.Language" dir="ltr">
<!--<![endif]-->
    <head>
        @{ Html.RenderPartial("HeadMeta", Model.CurrentPage);}

        @Scripts.Render("~/Static/js/furb")
        @Styles.Render("~/Static/css/furb")

        @Html.Raw(Html.RequiredClientResources("Header"))

        <noscript>
            @Styles.Render("~/Static/css/noscript")
        </noscript>
        @Html.RenderEPiServerQuickNavigator()

        @if (ContentReferenceExtended.SettingsPage != null && !ContentReferenceExtended.SettingsPage.GoogleAnalyticsScript.IsNullOrEmpty())
        {
            @Html.Raw(ContentReferenceExtended.SettingsPage.GoogleAnalyticsScript)
        }
    </head>
    <body class="@Model.CurrentPage.PageTypeName @Model.Layout.ColorTheme @Model.CurrentPage.CustomClass">
        @Html.Partial("ImportantNotice")

        @Html.FullRefreshPropertiesMetaData()

        @RenderBody()

        @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/Static/js/furbDeferred")

        @*<script >var _baLocale = 'se', _baMode = ' ';</script>
        <script src="https://www.browsealoud.com/plus/scripts/ba.js"></script>*@

        @Html.RequiredClientResources("Footer")
    </body>
</html>