﻿@using EPiServer.Editor
@using Furb.Features.Blocks.Video
@model Furb.Features.Blocks.Video.VideoBlockViewModel


<div class="row">
    <div class="medium-12 columns">
        @if (!string.IsNullOrWhiteSpace(Model.CurrentBlock.VideoHeader) || PageEditing.PageIsInEditMode)
        {
            <h2>@Html.DisplayFor(x => Model.CurrentBlock.VideoHeader)</h2>
        }

        <div class="responsive-embed widescreen">
            @if (Model.CurrentBlock.VideoPlayerType == VideoPlayer.Youtube)
            {
                <iframe src="https://www.youtube.com/embed/@Model.YoutubeVideoId?rel=0" title="@Model.CurrentBlock.IframeTitle" width="@Model.CurrentBlock.Width" height="@Model.CurrentBlock.Height" allowfullscreen></iframe>
            }
            else if (Model.CurrentBlock.VideoPlayerType == VideoPlayer.Vimeo)
            {
                <iframe src="@Model.CurrentBlock.VideoUrl" title="@Model.CurrentBlock.IframeTitle" width="@Model.CurrentBlock.Width" height="@Model.CurrentBlock.Height" allowfullscreen></iframe>
            }
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.CurrentBlock.VideoDescription) || PageEditing.PageIsInEditMode)
        {
            <p>@Model.CurrentBlock.VideoDescription</p>
        }
    </div>
</div>