﻿@using System.Web.Mvc.Html
@using Furb.Main.Lib.Epi.Helpers

@model string

@{
    var describedById = string.Empty;
    var uniqueId = Guid.NewGuid();
    var autoComplete = ViewData.ContainsKey("autocomplete") ? ViewData["autocomplete"].ToString() : "";
}

<div class="form-field Form__Element FormTextbox">
    <label for="@(uniqueId)">
        @Html.DisplayNameFor(m => m)

        @Html.ValidationMessageFor(m => m)

        @if (!ViewData.ModelMetadata.IsRequired)
        {
        <span>@Html.Translate("/form/nonrequired")</span>
        }
    </label>

    @if (ViewData.ModelMetadata.AdditionalValues != null && ViewData.ModelMetadata.AdditionalValues.Any() && ViewData.ModelMetadata.AdditionalValues.ContainsKey("DescribedBy"))
    {
        describedById = Html.IdFor(m => m) + "_DescribedBy";
        <br /><span class="jsDescribedBy" id="@describedById">@ViewData.ModelMetadata.AdditionalValues.FirstOrDefault(item => item.Key == "DescribedBy").Value.ToString()</span>
    }

    @Html.TextBoxFor(m => m, new { id = (uniqueId), data_label = Html.DisplayNameFor(m => m) }).Required(ViewData.ModelMetadata).TabIndex(ViewData.ModelMetadata).Type(ViewData.ModelMetadata, ViewData["type"]).DescribedBy(describedById).AutoComplete(ViewData.ModelMetadata, autoComplete)
</div>