﻿@using Furb.Main.Lib.Epi.Helpers
@model Furb.Features.LocalBlocks.EventInformation.EventInformationBlock


<div class="row">
    <div class="small-6 medium-5 columns">
        <div class="CalendarEvent-time">
            <span class="day">@EventHelpers.TimeSpan(Model)</span>
        </div>
    </div>

    <div class="small-6 medium-7 columns">
        <div class="CalendarEvent-place">
            @Model.City<br />
            @Model.EventVenue
        </div>
    </div>
</div>