﻿/* Styles used by the TinyMCE editor */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #000;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 21px;
    font-weight: bold;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #000;
    margin: 0;
    padding: 0;
    font-family: "AvantGardeGothic Semi", Helvetica, Arial, sans-serif;
}

p {
    line-height: 1.35;
    padding: 0;
    margin: 0 0 1.25rem 0;
}

.mce-content-body a {
    background-color: yellow;
}

a.underline-link {
    display: inline-block;
    text-decoration: none;
    padding: 0 0 3px 0;
    border-bottom: 3px solid #000;
}

a.pdf-link,
a.doc-link,
a.xls-link,
a.ppt-link,
a.txt-link {
    display: inline-block;
    text-decoration: none;
    padding: 8px 2px 8px 38px;
    background: url("cssimg/icons-sprite.svg") yellow 0 -3941px no-repeat;
    border-bottom: 3px solid #000;
}

a.pdf-link {
    background-position: 0 -2549px;
}

a.doc-link {
    background-position: 0 -2449px;
}

a.xls-link {
    background-position: 0 -2649px;
}

a.ppt-link {
    background-position: 0 -2949px;
}

a.txt-link {
    background-position: 0 -2749px;
}

blockquote {
    padding: 10px;
    background-color: #e765a2;
    margin: 0;
    display: block;
    text-decoration: none;
}

ol.alt-listing {
    padding-left: 0;
    margin-left: 0;
    counter-reset: section;
    list-style-type: none;
}

    ol.alt-listing ol {
        margin-left: 1.5rem;
        counter-reset: section;
        list-style-type: none;
    }

    ol.alt-listing li {
        padding-left: 0;
    }

        ol.alt-listing li:before {
            counter-increment: section;
            content: counters(section, ".") ". ";
            padding-right: 0.75rem;
        }