﻿@using Castle.Core.Internal
@using EPiServer.SpecializedProperties
@using EPiServer.Web.Mvc.Html
@model LinkItemCollection

@if (!Model.IsNullOrEmpty())
{
    <ul class="@ViewData["class"]">
        @foreach (var linkItem in Model)
        {
            <li class="@ViewData["itemClass"]">
                <a @(String.IsNullOrEmpty(linkItem.Target) ? "" : "target=" + linkItem.Target) @(String.IsNullOrEmpty(linkItem.Title) ? "" : "Title=" + linkItem.Title) href="@Url.ContentUrl(linkItem.Href)">@linkItem.Text</a>
            </li>
        }
    </ul>
}