﻿@using EPiServer.Web.Routing
@using Furb.Main
@model Furb.Features.Pages.Shared.ContentPageData

<div class="pagePartial link">
    <h3>
        <a href="@UrlResolver.Current.GetUrl(Model.ContentLink)">@HtmlHelpers.TeaserLinkText(Model)</a>
    </h3>
</div>