﻿//
// Variables
//


//--------------------------------------------------------------*/
// FOLLOW US -Facebook, Twitter, Google+ & YouTube
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.followUsBlock {

    a {
        display: block;

        &:before {
            content: "";
            float: left;
            width: 30px;
            height: 30px;
            margin: -3px 5px 0 0;
            background-image: url("cssimg/icons-sprite.svg");
            background-repeat: no-repeat;
        }

        &.facebook {

            &:before {
                background-position: 0 -598px;
            }

            &:hover,
            &:focus {
                &:before {
                    background-position: 0 -648px;
                }
            }
        }

        &.twitter {

            &:before {
                background-position: 0 -498px;
            }

            &:hover,
            &:focus {
                &:before {
                    background-position: 0 -548px;
                }
            }
        }

        &.instagram {

            &:before {
                background-position: 0 -498px;
            }

            &:hover,
            &:focus {
                &:before {
                    background-position: 0 -548px;
                }
            }
        }

        &.youtube {

            &:before {
                background-position: 0 -698px;
            }

            &:hover,
            &:focus {
                &:before {
                    background-position: 0 -748px;
                }
            }
        }

        &.linkedin {

            &:before {
                background-position: 0 -1598px;
            }

            &:hover,
            &:focus {
                &:before {
                    background-position: 0 -1648px;
                }
            }
        }
    }
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/

// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/