//
// Variables
//


//--------------------------------------------------------------*/
// MOBILE VIEW - Meny & Search
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.mobileNavigation.show {
    display: block;
}

.smallSearchArea.show {
    display: block;
}

// Mobile searcharea
.smallSearchArea {
    display: none;
    margin-bottom: 10px;
    border: 15px solid $mobileNavigation-color-gray;
    background-color: $mobileNavigation-color-gray;
}


// ----------------------------------------------- */
/* MOBILETRIGGERS */
// ----------------------------------------------- */
.mobileTriggers {

    a {
        color: $mobileNavigation-font-color-light;
        text-transform: uppercase;
        font-size: $mobilelTriggers-font-size;
        display: block;
        padding: 12px 0 12px 50px;
        text-decoration: none;
    }

    .menuLink {
        border-right: 3px solid $color-white;

        a {
            background: url(cssimg/mobileTriggers.png) $color-black 10px -192px no-repeat;

            &:hover, &:focus, &:active, &.active {
                background: url(cssimg/mobileTriggers.png) $mobileNavigation-color-gray 10px -292px no-repeat;
                color: $mobileNavigation-font-color-dark;
            }
        }
    }

    .searchLink {
        border-left: 3px solid $color-white;

        a {
            background: url(cssimg/mobileTriggers.png) $color-black 10px 8px no-repeat;

            &:hover, &:focus, &:active, &.active {
                background: url(cssimg/mobileTriggers.png) $mobileNavigation-color-gray 10px -92px no-repeat;
                color: $mobileNavigation-font-color-dark;
            }
        }
    }

    .menuLink a, .searchLink a {
        &:focus {
            text-decoration: underline;
        }
    }
}


// ----------------------------------------------- */
/* MOBILENAVIGATION */
// ----------------------------------------------- */
.mobileNavigation {
    display: none;
    margin-bottom: 10px;
    overflow: hidden;

    .animated {
        position: relative;
        width: 1534px;
        z-index: 1;
    }

    a, span {
        color: $mobileNavigation-font-color-dark;
        font-size: $mobilelNavigation-font-size;
        padding: 11px 11px 11px 15px;
        display: block;
        margin: 0;
        text-decoration: none;
        min-height: 43px;
    }

    li {
        border-bottom: 5px solid $mobileNavigation-color-gray;
        margin-left: 0;
        padding: 0;

        &:hover,
        &:focus {
            background-color: transparent;
        }

        li:last-of-type {
            border-bottom: 0;
        }
    }

    .menuItem.active {

        &:hover,
        &:focus {
            background-color: $mobileNavigation-color-gray;
            color: $mobileNavigation-font-color-dark;

            a {
                color: $mobileNavigation-font-color-dark;
            }
        }
    }

    .menuList {
        left: 0;
        position: relative;
    }


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: 5px solid $mobileNavigation-color-gray;
        border-bottom: 0;

        li {
            display: block;
        }

        ul {
            border: 0;
            border-top: 5px solid $mobileNavigation-color-gray;
            //margin: 0;
            ul {
                //border: 0;
                //margin: 0;
            }
        }
    }
}


// more code for Mobile navigation...from OBVIUSE (ANDERS)
//--------------------------------------------------------------*/

.mobileNavigation .menuItem.hiddenLeft {
    left: -110%;
    height: 0;
}

.mobileNavigation .menuItem.active {
    background-color: $mobileNavigation-font-color-light;
}

.mobileNavigation .menuItem.active a {
    color: inherit;
    font-weight: normal;
}


.mobileNavigation .menuItem {
    background-color: $mobileNavigation-color-gray;
    position: relative;
    overflow: hidden;
}

.mobileNavigation .menuItem > div.row {
    background-color: $color-white;
    margin: 0;
    padding: 0;
}

.mobileNavigation .menuItem > div.row > .small-10,
.mobileNavigation .menuItem > div.row > .small-12 {
    padding: 11px 17px;
}

.mobileNavigation .menuItem > div.row > .small-2:first-child {
    display: none;
}

.mobileNavigation .menuItem > div.row > .small-10 + .small-2 {
    display: block;
}


.mobileNavigation ul .menuItem.active > div.row {
    background-color: $bgColor-mobileNavigation-active;
    color: inherit;
    margin: 0;
    padding: 0;
}

.mobileNavigation ul ul .menuItem.active > div.row {
    background-color: $bgColor-mobileNavigation-active;
}

.mobileNavigation ul ul ul .menuItem.active > div.row {
    background-color: $bgColor-mobileNavigation-active;
}

.mobileNavigation ul ul ul ul .menuItem.active > div.row {
    background-color: $bgColor-mobileNavigation-active;
}

.mobileNavigation ul ul ul ul ul .menuItem.active > div.row {
    background-color: $bgColor-mobileNavigation-active;
}


.mobileNavigation ul .menuItem.active > div.row .small-10 {
    padding-left: 1em;
    float: left;
}

.mobileNavigation ul ul .menuItem.active > div.row .small-10 {
    padding-left: 2em;
}

.mobileNavigation ul ul ul .menuItem.active > div.row .small-10 {
    padding-left: 3em;
}

.mobileNavigation ul ul ul ul .menuItem.active > div.row .small-10 {
    padding-left: 4em;
}

.mobileNavigation ul ul ul ul ul .menuItem.active > div.row .small-10 {
    padding-left: 5em;
}

.mobileNavigation ul ul ul ul ul ul .menuItem.active > div.row .small-10 {
    padding-left: 6em;
}




.mobileNavigation .menuItem.active > div.row > :first-child {
    display: block;
}

.mobileNavigation .menuItem.active > div.row > .small-10 + a.small-2 {
    display: none;
}

.mobileNavigation .menuItem.active > div:first-child a,
.mobileNavigation .menuItem.active > div:first-child span {
    color: $mobileNavigation-font-color-light;
    font-weight: bold;
}

.mobileNavigation .menuItem.current > div.row {
    background-color: $bgColor-mobileNavigation-active;
    font-weight: bold;
}

.mobileNavigation .menuItem.current > div.row span {
    color: $mobileNavigation-font-color-light;
    text-decoration: underline;
}

.mobileNavigation .menuItem.current.active > div:first-child a,
.mobileNavigation .menuItem.current.active > div:first-child span {
    color: $mobileNavigation-font-color-light;
}

.mobileNavigation a {
    &:focus, &:hover, &:active {
        background: inherit;
    }
}

.mobileNavigation .active:hover,
.mobileNavigation .active:focus {
    &:focus, &:hover, &:active {
        background: inherit;
    }
}

.mobileNavigation .haveLinks {
    border-left: 1px solid $mobileNavigation-color-gray;
    width: 40px;
    background: url(cssimg/bg_mobileNavigation.png) 50% 8px no-repeat;

    &:focus, &:hover, &:active {
        background: url(cssimg/bg_mobileNavigation.png) 50% 8px no-repeat;
    }
}

.mobileNavigation .backLink {
    border-radius: 0;
    border: 0;
    border-right: 1px solid darken($mobileNavigation-color-gray, 30%);
    color: transparent;
    width: 43px;
    height: 43px;
    margin: 0;
    overflow: hidden;
    line-height: 1.5em;
    background: url(cssimg/bg_mobileNavigation.png) 5px -94px no-repeat;

    &:focus, &:hover, &:active {
        background: url(cssimg/bg_mobileNavigation.png) 5px -94px no-repeat;
    }
}

.mobileNavigation .haveLinks {
    border-radius: 0;
    border: 0;
    border-left: 1px solid $mobileNavigation-color-gray;
    color: transparent;
    width: 43px;
    height: 43px;
    overflow: hidden;
    margin: 0;
    line-height: 1.5em;
    background: url(cssimg/bg_mobileNavigation.png) 50% 8px no-repeat;

    &:focus, &:hover, &:active {
        background: url(cssimg/bg_mobileNavigation.png) 50% 8px no-repeat;
    }
}

.mobileNavigation button {
    &:focus, &:hover, &:active {
        background: inherit;
    }
}

.mobileNavigation .menuItem.active > div.row > .small-10 + button.small-2 {
    display: none;
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/

// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/