﻿//
// Variables
//


//--------------------------------------------------------------*/
// SHARING LINKS - Facebook, Twitter, Google+, YouTube & LinkedIn
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

#sharethislinks {
    background-color: $color-gray;
    padding: 4px 19px;
    overflow: hidden;
    margin: 2rem 0;

    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ul {
        width: 100%;
        float: right;
        text-align: right;
    }

    li {
        float: left;
        display: inline-block;
        //width: 40px;
        height: 40px;
        //overflow: hidden;
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0px;
        }
    }

    a, button {
        margin: 0;
        text-decoration: none;
        padding: 10px 2px 10px 32px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        font-size: 15px;
        //font-family: $font-family-sans-serif;
        color: transparent;
        background: url(cssimg/icons-sprite.svg) transparent 0 -393px no-repeat;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    a {
        line-height: 2.7em;
    }

    .shareText {
        display: inline-block;
        margin: 5px 0 0 0;
        line-height: 2rem;
        padding: 0;
        font-size: 1rem;
    }

    .mailShare button {
        background-position: 0 -393px;
        border: 0;

        &:hover,
        &:focus {
            background-position: 0 -443px;
        }
    }

    .facebookShare a {
        background-position: 0 -592px;

        &:hover,
        &:focus {
            background-position: 0 -642px;
        }
    }

    .twitterShare a {
        background-position: 0 -492px;

        &:hover,
        &:focus {
            background-position: 0 -542px;
        }
    }

    .linkedinShare a {
        background-position: 0 -492px;

        &:hover,
        &:focus {
            background-position: 0 -542px;
        }
    }

    .youtubeShare a {
        background-position: 0 0;

        &:hover,
        &:focus {
            background-position: 0 0;
        }
    }

    .googleplusShare a {
        background-position: 0 0;

        &:hover,
        &:focus {
            background-position: 0 0;
        }
    }
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/

// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

    #sharethislinks {
        ul {
            width: auto;

	        li {
		        width: auto; 
	        }

	        a, button {
                color: $color-black;
		        width: auto; 
	        }
        }
    }

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/