﻿@model Furb.Main.Interfaces.IPageViewModel<Furb.Features.Pages.Start.StartPage>

@{
    Layout = "~/Main/Views/Shared/Layouts/_Start.cshtml";
}

<div class="startPageTeaserArea contentArea">
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>