//
// Variables
//


//
// Mixins
//


//--------------------------------------------------------------*/
// CLICKABLE ELEMENTS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.clickableArea {
    //display: table;
    //width: 100%;

    h2, h3 {
        //margin: -65px 0 0 9px;
        margin: 0.25rem 0;
        font-size: $h2-font-size-special;
        display: inline-block;
        padding: 0;
        background-color: transparent;

        a {
            display: inline;
            text-decoration: none;
            padding: 2px 0 3px 0;
            line-height: 33px;

            &:before {
                content: "";
                display: inline-block;
                //background: url(cssimg/icons-sprite.svg) transparent 2px -46px no-repeat;
                background: url(cssimg/icons-sprite.svg) transparent 0 3px no-repeat;
                width: 21px;
                height: 17px;
            }

            &:hover, &:focus {
                text-decoration: none;

                &:before {
                    background-position: 0 3px;
                }
            }
        }
    }

    .panelImage {
        display: table-header-group;
        width: 100%;

        img {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .panelTextWrapper {
        display: table-footer-group;
        width: 100%;
    }

    .panelText {
    }

    .teaserText {
        line-height: 1.45;
        padding-bottom: 1rem;
        //border-bottom: 7px solid $color-gray;
        margin-bottom: 0 !important;
    }

    .panelLink {
    }



    &.highlight {
        &:hover, &:focus, &.highlightTabbing {
            cursor: pointer;
            background-color: $color-gray;

            div .teaserText {
                //border-bottom: 7px solid transparent;
            }


            h2, h3 {
                a {
                    &:before {
                        background-position: 0 3px;
                    }

                    color: $color-black;
                    background-color: $color-gray;
                    text-decoration: underline;
                }
            }

            .panelImage {
            }

            img {
                //filter: grayscale(1);
                -webkit-filter: grayscale(1);
            }
        }

        &.highlightTabbing {
            box-shadow: inset 0px 0px 0px 2px $tabbed-color;

            a {
                outline: 0;
            }
        }
    }
}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/
