﻿//
// Variables
//


//--------------------------------------------------------------*/
// EPI-EDITCONTAINER
//--------------------------------------------------------------*/


//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.StartPage .largeImage h1 {
    .epi-editContainer {
        background-color: $color-black;
    }
}




//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/
