//
// Variables
//

// We use this to set the base for lots of form spacing and positioning styles
$form-spacing: rem-calc(16px);

// We use these to style the labels in different ways
$input-font-family: inherit;
$input-bg-color: #fff;
$input-focus-bg-color: darken(#fff, 2%);
$input-border-color: #333;
$input-focus-border-color: #000;
$input-border-style: solid;
$input-border-width: 1px;
$input-disabled-bg: #ddd;
$input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
$input-radius: 2px;

// We use these to style the fieldset border and spacing.
$fieldset-border-style: solid;
$fieldset-border-width: 0;
$fieldset-border-color: #ddd;
$fieldset-padding: 0;
$fieldset-margin: 1rem;

// We use these to style the legends when you use them
$legend-bg: #fff;
$legend-font-weight: bold;
$legend-padding: 0 3px;


// We use these to style the error states for inputs and labels
$input-error-message-padding: rem-calc(10px);
$input-error-message-top: -($form-spacing) - rem-calc(5px);
$input-error-message-font-size: 14px;
$input-error-message-font-weight: bold;
$input-error-message-font-color: #fff;
$input-error-message-font-color-alt: #333;
$error-radius: 3px;


//
// Form Mixins
//

@mixin form-row-base {
    .row {
        margin: 0 ((-$form-spacing) / 2);

        .column,
        .columns {
            padding: 0 ($form-spacing / 2);
        }
        // Use this to collapse the margins of a form row
        &.collapse {
            margin: 0;

            .column,
            .columns {
                padding: 0;
            }

            input {
                @include side-radius($opposite-direction, 0);
            }
        }
    }

    input.column,
    input.columns,
    textarea.column,
    textarea.columns {
        padding-#{$default-float}: ($form-spacing / 2);
    }
}


// We use this mixin to give all basic form elements their style
@mixin form-element() {
    background-color: $input-bg-color;
    font-family: $input-font-family;
    border: 1px solid $input-border-color;
    display: block;
    margin: 0 0 0.35rem 0;
    padding: 0.2em $form-spacing / 2;
    //height: rem-calc(13px) + ($form-spacing * 1.5);
    width: 100%;
    height: 2.75rem;
    line-height: 2.75rem;
    // Basic focus styles
    &:focus {
        background: $input-focus-bg-color;
        border-color: $input-focus-border-color;
    }
    // Disbaled Styles
    &:disabled {
        background-color: $input-disabled-bg;
    }
    // Disabled background input background color
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: $input-disabled-bg;
    }
}


//--------------------------------------------------------------*/
// FORM ELEMENTS
//--------------------------------------------------------------*/

fieldset {
    border: $fieldset-border-width;
    padding: $fieldset-padding;
    margin: 0 0 $fieldset-margin 0;

    legend {
        font-weight: bold;
        margin: 5px 0;
        padding: 0;
    }

    fieldset {
        margin: 0;
    }

    ul {
        list-style: none;

        li {
            input[type="radio"],
            input[type="checkbox"] {
                float: left;
                margin: 4px 6px 10px 0;
                line-height: 2em;
            }
        }

        &.floating li {
            float: left;

            label {
                padding-right: 1em;
            }
        }
    }

    &.form-group {
        ul {
            li {
                margin-left: 0 !important;
                padding-left: 0 !important;
            }
        }
    }

    label {
        margin-top: 0;
        margin-right: 1rem;
    }
}


// We use this mixin to control border and background color of error inputs
@mixin form-error-color($color: $error-red) {
    border-color: $color;
    background-color: $error-pink;
    // Go back to normal on focus
    &:focus {
        background: $input-focus-bg-color;
        border-color: $input-focus-border-color;
    }
}

// We use this simple mixin to style labels for error inputs
@mixin form-label-error-color($color: $error-red) {
    color: $color;
}


// Only include these classes if the variable is true, otherwise they'll be left out.
//@if $include-html-form-classes {



    /* We use this to get basic styling on all basic form elements */
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea {
        @include form-element;
        //border: 1px solid $input-border-color;
        border-radius: $input-radius;
    }

    .formblock {
        input, textarea, button, select {
            margin-bottom: 1.3rem;
        }

        fieldset {
            label {
                font-weight: normal;
                line-height: 1.35;
            }
        }
    }

    .form-field {
        line-height: 1.35;

        label {
            margin-top: 0;
        }

        input {
            margin-bottom: 1.3rem;

            header & {
                margin-bottom: 0;
            }
        }
    }

    // Label Styles
    label {
        display: inline-block;
        margin: 1em 0 5px 0;
        font-family: inherit;

        &.block {
            display: block;
        }
    }

    input {
        &[type=radio],
        &[type=checkbox] {
            & + label {
                display: inline-block;
            }

            &.tabbed {
                outline: 0;

                & + label {
                    outline: 2px solid $tabbed-color;

                    .containerFtdHotel & {
                        outline-color: $color-white;
                    }

                    .containerFtdToggle & {
                        outline-color: $color-white;
                    }
                }
            }
        }


        &[type=checkbox].checkBox {
            &.tabbed {
                outline: 0;

                & + input + label {
                    outline: 2px solid $tabbed-color;

                    .containerFtdHotel & {
                        outline-color: $color-white;
                    }

                    .containerFtdToggle & {
                        outline-color: $color-white;
                    }
                }
            }
        }
    }

    form {
        display: inline;
    }


    // Make select elements 100% width by default
    select {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        background-color: $color-white;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
        background-position: 100% center;
        background-repeat: no-repeat;
        border-radius: $input-radius;
        border: 1px solid $input-border-color;
        padding: 0.7em 0.3em;
        margin: 0 0 1rem 0;

        &::-ms-expand {
            display: none;
        }

        & > option:hover {
            color: $color-white;
            background-color: $color-black;
            cursor: pointer;
        }

        & > option:checked {
            background-color: -moz-html-cellhighlight !important;
            color: -moz-html-cellhighlighttext !important;
        }
    }

    // Make span in upload form to block element
    // Hide input
    .fileUpload {
        margin-top: 10px;

        label {
            display: block;
            position: relative;
        }

        input[type=file] {
            display: block;
            width: 100%;
            opacity: 0;
            position: relative;
            z-index: 100;
            height: 43px;
            margin: 0;
            cursor: pointer !important;
        }

        .form-field {
            height: 95px;

            &.errorOnThis {
                margin-bottom: 0;
                height: 155px;
            }
        }

        #img-name p {
            margin-bottom: 0;
        }
    }




    /* Required form field */
    .requiredField {
        background: url("cssimg/icons-sprite.svg") no-repeat scroll 0 -3340px transparent;
        height: 13px;
        width: 10px;
        overflow: hidden;
        padding: 0 0 0 10px;
        display: inline-block;
        text-indent: 5px;
    }


    /* Error Handling */
    .error input,
    input.error,
    .error textarea,
    textarea.error {
        @include form-error-color;
    }

    .error label,
    label.error {
        @include form-label-error-color;
    }

.checkbox-radio-fix {
    padding-top: 0.35rem;

    input[type=radio],
    input[type=checkbox] {
        & + label[for] {
            width: 85%;
            vertical-align: top;
            line-height: 1.35;
            margin-top: 0;
        }
    }
}

//}
div {
    textarea {
        height: 7em;
    }

    select {
        border-radius: $input-radius;
        border: 1px solid $input-border-color;
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 0 0 0.35rem 0;
        height: 2.75rem;
        line-height: inherit; //2.75rem;
    }
}

.errorOnThis, .ValidationFail {
    background-color: $error-pink;
    padding: 1rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    //border: 1px solid $alert-color;
    .field-validation-error {
        background-color: transparent;
        color: $color-black;
        margin: 5px 0;
        padding: 0rem;
    }

    & > input, textarea, select {
        background-color: $color-white;
        border-color: #b10202;
        border-width: 2px;
    }
}

form.ValidationFail {
    background-color: transparent;
}

header {

    .errorOnThis.js-validation-summary-errors {
        padding-bottom: 0;
        margin-bottom: 0;
        background: url(cssimg/icons-sprite.svg) $error-pink 16px -3340px no-repeat;
        padding-left: 49px;

        p {
            margin-bottom: 0;
            outline: none;
        }
    }

    .errorOnThis {
        padding: 1rem;
        margin-bottom: 0.5rem;
        border: 0;

        p {
            display: inline-block;
        }
    }
}

.error small, small.error, span.error, small.field-validation-error {
    background: none repeat scroll 0 0 $error-red;
    border-radius: $error-radius;
    color: $color-white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0;
    padding: 0.6em;
    line-height: 14px;
}

/* error summary */
.errorInfo, .ValidationSummary {
    /*margin: 10px 0;*/
    padding: 1em;
    background-color: $error-pink;
    font-weight: bold;
    width: 95%;
    padding: 2%;
    margin: auto;
    margin-top: 2%; //Use this?
    a {
        color: $color-black;
        font-weight: bold;
    }

    ul {
        margin: 0;
        margin-top: 1rem;
        font-weight: normal;

        li {
            list-style: none;
            margin-left: 0 !important;
            padding-left: 0 !important;
        }
    }
}

.toggleThis {
    .validation-summary-errors {
        width: 95% !important;
    }
}

.errorLabelContainer {



}

.EPiServerForms.ValidationFail {
    .validation-summary-errors {
        padding: 1em;
        background-color: $error-pink;
        margin: auto;
        margin-top: 1rem;

        .centerArea & {
            margin-bottom: 1.5rem;
        }

        a {
            color: $color-black;
            font-weight: bold;
        }

        ul {
            margin: 0.5rem 1rem 0 1rem;

            li {
                list-style-type: disc;
                padding: 0.25rem 0 !important;
                font-family: inherit;
                margin-left: 0;
            }
        }

        h2, h3, h4 {
            padding-top: 0;
            margin-top: 0;
        }
    }
}

.EPiServerForms {
    .FormFileUpload {
        padding: 1rem 0;

        label {
            margin-top: 5px;
        }

        &.ValidationFail {
            padding: 1rem;
        }
    }
}

.customValidationMessage, .field-validation-error span, .Form__Element__ValidationError {
    font-weight: normal;
    font-family: $body-font-family;
    background: url(cssimg/icons-sprite.svg) 0 -3340px no-repeat;
    padding-left: 23px;
    color: $color-black !important;
    line-height: 1.35;
}

.field-validation-error {
    span {
        display: block;
    }
}

.validation-summary-valid {
    display: none;
}

.field-validation-valid {
    display: none;
}

time {
    display: block;
    font-size: 90%;
    color: #666;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.furbformcontainerblock {
    legend {
        font-size: 1rem;
    }

    fieldset {
        label {
            font-weight: normal;
        }
    }
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@media #{$medium-up} {
}
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@media #{$large-up} {
}
//--------------------------------------------------------------*/
