
// FROM FOUNDATION 4
.row {
    &.collapse {
        .column,
        .columns { 
            padding-left:0; 
            padding-right:0; 
        }

        .row {margin-left:0; margin-right:0;}
    }
}

@media only screen and (min-width: 30em) {

/*

  .smallest-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .smallest-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .smallest-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .smallest-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .smallest-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .smallest-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .smallest-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .smallest-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .smallest-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .smallest-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .smallest-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .smallest-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .smallest-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .smallest-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .smallest-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .smallest-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .smallest-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .smallest-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .smallest-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .smallest-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .smallest-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .smallest-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .smallest-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .smallest-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .smallest-1 {
    width: 8.33333%; }

  .smallest-2 {
    width: 16.66667%; }

  .smallest-3 {
    width: 25%; }

  .smallest-4 {
    width: 33.33333%; }

  .smallest-5 {
    width: 41.66667%; }

  .smallest-6 {
    width: 50%; }

  .smallest-7 {
    width: 58.33333%; }

  .smallest-8 {
    width: 66.66667%; }

  .smallest-9 {
    width: 75%; }

  .smallest-10 {
    width: 83.33333%; }

  .smallest-11 {
    width: 91.66667%; }

  .smallest-12 {
    width: 100%; }

  .smallest-offset-0 {
    margin-left: 0% !important; }

  .smallest-offset-1 {
    margin-left: 8.33333% !important; }

  .smallest-offset-2 {
    margin-left: 16.66667% !important; }

  .smallest-offset-3 {
    margin-left: 25% !important; }

  .smallest-offset-4 {
    margin-left: 33.33333% !important; }

  .smallest-offset-5 {
    margin-left: 41.66667% !important; }

  .smallest-offset-6 {
    margin-left: 50% !important; }

  .smallest-offset-7 {
    margin-left: 58.33333% !important; }

  .smallest-offset-8 {
    margin-left: 66.66667% !important; }

  .smallest-offset-9 {
    margin-left: 75% !important; }

  .smallest-offset-10 {
    margin-left: 83.33333% !important; }

  .smallest-offset-11 {
    margin-left: 91.66667% !important; }

  .smallest-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.smallest-centered,
  .columns.smallest-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.smallest-uncentered,
  .columns.smallest-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .column.smallest-centered:last-child,
  .columns.smallest-centered:last-child {
    float: none; }

  .column.smallest-uncentered:last-child,
  .columns.smallest-uncentered:last-child {
    float: left; }

  .column.smallest-uncentered.opposite,
  .columns.smallest-uncentered.opposite {
    float: right; }

  .row.smallest-collapse > .column,
  .row.smallest-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.smallest-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.smallest-uncollapse > .column,
  .row.smallest-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

*/

}