//
// Variables
//


//--------------------------------------------------------------*/
// HEADER
//--------------------------------------------------------------*/


//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

header {

    h1 {
        margin: 0;
        padding: 0;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin-left: 0;
        padding: 0.4rem 0;
    }

    .function-links-wrapper {
        background-color: $color-gray-light;
        min-height: 2rem;
    }

    .functionLinks {
        text-align: right;
        font-weight: bold;

        button {
            padding: 6px 1.5em 6px 3em;
            border-color: transparent;

            &:hover, &:focus {
                border-color: transparent;
                color: transparent;
            }
        }

        li {
            width: 25%;
            max-height: 48px;
            overflow: hidden;
            float: left;

            button {
                color: transparent;
                background-image: url(cssimg/icons-sprite.svg);
                background-repeat: no-repeat;
                background-color: transparent;
            }

            &.active {
                button {
                    &:hover, &:focus {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .logoType {
        padding: 16px 0;
        text-align: center;

        a {
            margin-bottom: 2px;
            display: inline-block;
        }

        .logo-text {
            line-height: 1.35;
            display: block;
            padding: 0;
            font-size: rem-calc(18);
        }
    }
}

.siteLogotypeBlock {
    padding: 20px 0;
    text-align: center;
    min-height: 55px;
    display: block;
}

.quickSearchArea {
    padding: 35px 0 0 0;
    line-height: 25px;

    input[type=search],
    input[type=submit] {
        border-radius: 3px;
        height: 2.5rem;
    }

    input[type=search] {
        border-color: $border-color;
    }

    input[type=submit] {
        margin-left: -3px;
    }

    label {
        display: none;
    }
}

.smallSearchArea {
	line-height: 25px;

	label {
		display: none;
	}
}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {

    header {

        li {
            margin-left: 1rem;
        }

        .functionLinks {

            button {

                &:hover, &:focus {
                    color: $color-black;
                }
            }

            li {
                width: auto;
                height: auto;
                overflow: visible;
                float: none;

                button {
                    color: $color-black;
                }
            }
        }

        .siteLogotypeBlock {
            padding: 12px 0 0 0;
            text-align: left;
        }

        .logoType {
            padding: 25px 0;
            text-align: left;

            .logo-text {
                padding: 5px;
            }
        }
    }
}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/
