//
// Variables
//

$border-width: 3px;

//--------------------------------------------------------------*/
// MOBILE VIEW - Meny & Search
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.mobileNavigation.show {
    display: block;
}

.smallSearchArea.show {
    display: block;
}

// Mobile searcharea
.smallSearchArea {
    display: none;
    margin-bottom: 10px;
    //border: 15px solid $mobileNavigation-bgColor-odd;
    border-bottom: 3px solid $mobileNavigation-border-color;
    padding: 1rem;
    background-color: $mobileNavigation-bgColor-odd;

    .button {
        width: 100%;
    }
}

.mobileNavigation {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

// ----------------------------------------------- */
/* MOBILETRIGGERS */
// ----------------------------------------------- */
.mobileTriggers {
    border-top: 5px solid $color-white;

    button {
        color: $mobileNavigation-font-color-light;
        text-transform: uppercase;
        font-size: $mobilelTriggers-font-size;
        display: block;
        padding: 12px 0 12px 48px;
        text-decoration: none;
        text-align: left;
        border: 0;

        &.tabbed {
            outline-offset: -2px;
        }
    }

    .menuLink {
        border-right: 2px solid $color-white;

        button {
            border-radius: 0 10px 10px 0;
            background: url("cssimg/icons-sprite.svg") $color-gray-dark 18px -230px no-repeat; //  20px -236px

            &:hover, &:focus, &:active {
                background: url(" cssimg/icons-sprite.svg") transparent 18px -180px no-repeat; // $navigation-color-gray 20px -183px
            }

            &.active {
                background: url(" cssimg/icons-sprite.svg") transparent 21px -280px no-repeat;
            }
        }
    }

    .searchLink {
        border-left: 2px solid $color-white;

        button {
            border-radius: 10px 0 0 10px;
            background: url("cssimg/icons-sprite.svg") $color-gray-dark 18px -136px no-repeat; // 20px -140px

            &:hover, &:focus, &:active, &.active {
                background: url("cssimg/icons-sprite.svg") transparent 18px -86px no-repeat; // $navigation-color-gray 20px -90px
            }
        }
    }

    .searchLink button,
    .menuLink button {
        &:focus {
            text-decoration: underline;
        }

        &:hover, &:focus, &:active, &.active {
            color: $mobileNavigation-font-color-dark;
        }
    }
}


// ----------------------------------------------- */
/* MOBILENAVIGATION */
// ----------------------------------------------- */
.mobileNavigation {
    display: none;
    overflow: hidden;

    a, span {
        color: $mobileNavigation-font-color-dark;
        font-size: $mobilelNavigation-font-size;
        padding: 11px 11px 11px 15px;
        display: block;
        margin: 0;
        text-decoration: none;
        min-height: 43px;
    }

    a, button {
        &.tabbed {
            outline-offset: -2px;
        }
    }

    li {
        border-bottom: $border-width solid $mobileNavigation-border-color;
        margin-left: 0;
        padding: 0;
        background-color: transparent;
        position: relative;
        overflow: hidden;

        &:hover,
        &:focus {
            background-color: transparent;
        }

        li:last-of-type {
            border-bottom: 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: 0;
        //border-top: 5px solid $mobileNavigation-border-color;
        li {
            display: block;
        }

        ul {
            border: 0;
            border-top: $border-width solid $mobileNavigation-border-color;
        }
    }
}




.mobileNavigation {

    ul {
        background-color: $mobileNavigation-bgColor-odd;

        ul.menuItem > div.row {
            background-color: transparent;
        }

        .menuItem.active > div.row > .small-10 + button.small-2 {
            background-color: $navigation-color-gray;
        }
    }



    ul ul {
        background-color: $mobileNavigation-bgColor-even;

        .menuItem > div.row {
            padding-left: 20px;
        }

        .menuItem.active > div.row > .small-10 + button.small-2 {
            background-color: $color-gray-light;
        }
    }



    ul ul ul {
        background-color: $mobileNavigation-bgColor-odd;
        margin-left: 1rem;
        margin-top: -$border-width;

        .menuItem > div.row {
            padding-left: 35px;
        }

        .menuItem.active > div.row > .small-10 + button.small-2 {
            background-color: $navigation-color-gray;
        }
    }



    ul ul ul ul {
        background-color: $mobileNavigation-bgColor-even;
        margin-left: 1rem;
        margin-top: 0;
        border: 0;

        .menuItem > div.row {
            padding-left: 50px;
        }

        .menuItem.active > div.row > .small-10 + button.small-2 {
            background-color: $color-gray-light;
        }
    }

    ul ul ul ul ul {
        background-color: $mobileNavigation-bgColor-odd;

        .menuItem > div.row {
            padding-left: 65px;
        }

        .menuItem.active > div.row > .small-10 + button.small-2 {
            background-color: $navigation-color-gray;
        }
    }
}

.childrenListContainer .hasLoadedChildren > .row {
    border-bottom: 0;
}

.childrenListContainer .hasLoadedChildren.isOpen > .row, .childrenListContainer .hasLoadedChildren.isOpen.active > .row {
    border-bottom: $border-width solid $mobileNavigation-border-color;
}

.childrenListContainer .hasLoadedChildren > .row .row {
    border-bottom: 0;
}

.childrenListContainer .hasLoadedChildren.active > .row {
    border-bottom: $border-width solid $mobileNavigation-border-color;
}

.childrenListContainer .hasLoadedChildren.isOpen.active > .row {
    border-bottom: 0;
}

.mobileNavigation .menuItem > div.row > .small-10,
.mobileNavigation .menuItem > div.row > .small-12 {
    padding: 11px 16px;
}

.mobileNavigation .menuItem > div.row > .small-10 + .small-2 {
    display: block;
}


.mobileNavigation ul .menuItem.active > div.row {
    background-color: $bgColor-mobileNavigation-active;
    color: inherit;
    margin: 0;
    //text-decoration: underline;
}



.mobileNavigation .menuItem.active > div:first-child a,
.mobileNavigation .menuItem.active > div:first-child span {
    color: $mobileNavigation-font-color-light;
}

.mobileNavigation .menuItem.current > div.row {
    background-color: $bgColor-mobileNavigation-active;
}

.mobileNavigation .menuItem.current > div.row span {
    color: $mobileNavigation-font-color-light;
    text-decoration: underline;
}

.mobileNavigation .menuItem.current.active > div:first-child a,
.mobileNavigation .menuItem.current.active > div:first-child span {
    color: $mobileNavigation-font-color-light;
}

.mobileNavigation a {
    &:focus, &:hover, &:active {
        background: inherit;
    }
}

.mobileNavigation .active:hover,
.mobileNavigation .active:focus {
    &:focus, &:hover, &:active {
        background: inherit;
    }
}

.mobileNavigation {

    button {
        border-radius: 0;
        border: 0;
        border-left: $border-width solid $mobileNavigation-border-color;
        color: transparent;
        width: 43px;
        height: 48px;
        overflow: hidden;
        margin: 0;
        line-height: 1.5em;
        background-position: 8px -984px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url(cssimg/icons-sprite.svg);

        &[aria-expanded="true"] {
            background-position: 8px -1084px;
            //&:focus, &:hover, &:active { background-position: 8px -1137px; }
        }

        &[aria-expanded="false"] {
            background-position: 8px -984px;
            //&:focus, &:hover, &:active { background-position: 8px -1037px; }
        }
    }
}

.mobileNavigation .menuItem.active > div.row > .small-10 + button.small-2 {
    //background-color: transparent;
}

.mobileNavigation div.row > .small-10 + button.small-2 {
    color: transparent;
    background-color: transparent;
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/
// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {
}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {
}
//--------------------------------------------------------------*/
