//
// Typography Variables
//

// We use these to control header font styles
$open-sans:                                 "Open Sans", sans-serif;
$AvantGardeGothic-book:                     "AvantGardeGothic Book", sans-serif;
$AvantGardeGothic-semi:                     "AvantGardeGothic Semi", sans-serif;

$header-font-family:                        $AvantGardeGothic-semi;
$header-font-family-smaller:                $AvantGardeGothic-book;

// We use these to control header font sizes
$h1-font-size-special:						rem-calc(47);
$h1-font-size-start:						54px;

$h2-font-size-special:						rem-calc(18);
$h1-font-size-footer:						rem-calc(18);

// We use these to control header font colors
$h1-font-color-special:                     $header-color;
$h2-font-color-special:                     $header-color;

// We use these to style ingress
$ingress-font-family:                       $AvantGardeGothic-semi;
$ingress-font-size:							rem-calc(21);


// Ingress
.ingress { 
	font-size: 18px; 
	font-family: $ingress-font-family;
	line-height: 1.35;
    margin: 1rem 0;
}

// Header font
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    margin: 1rem 0 0.4rem 0;
    padding-top: 1rem;
}

h1 {
    padding-top: 2rem;
}

// HEADER line-heights
h1 {
    line-height: 1.1;
}

h2 {
    line-height: 1.15;
}

h3, h4, h5, h6 {
    line-height: 1.2;
}



// ul + ol + li

ul, ol {
    padding-left: 0.5em;
    
    li {
       padding-left: 0.5em;
    }

    &.listing, &.no-bullet {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li {
            padding-left: 0;
        }
    }

    &.listing {
        padding-left: 0;
        margin: 1rem 0;

        ul, ol {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
        }
    }
}

.centerArea {
    ul, ol {

    }
}

ol {
    &.alt-listing {
        padding-left: 0;
        margin-left: 0;
        counter-reset: section; 
        list-style-type: none;

        ol {
            margin-left: 1.5rem;
            counter-reset: section; 
            list-style-type: none;
        }

        li {
            padding-left: 0;

            &:before {
                counter-increment: section;
                content: counters(section, ".") ". ";
                padding-right: 0.75rem;
            }

            li {

                &:before {
                    //content: counters(section, ".") " ";
                }
            }
        }
    }
}



blockquote {
    padding: 1rem;
    background-color: #f6f6f6;
    margin: 0;
    display: block;
    text-decoration: none;
}

a {
    color: $color-black;

    &.underline-link {
        display: inline-block;
        text-decoration: none;
        padding: 0 0 3px 0;
        border-bottom: 4px solid $color-green;

        &:hover, &:focus {
            border-bottom-color: $color-black;
        }
    }

    &.pdf-link,
    &.doc-link,
    &.xls-link,
    &.ppt-link,
    &.txt-link {
        display: block;
        border-bottom: 4px solid $color-green;
        text-decoration: none;
        padding: 2px 0 2px 25px;

        &:hover, &:focus {
            border-bottom-color: $color-black;
        }
    }



    &.pdf-link,
    &.doc-link,
    &.xls-link,
    &.ppt-link,
    &.txt-link {
        padding: 0 10px 3px 0;
        background: url("cssimg/icons-sprite.svg") 5px -3922px no-repeat;
        margin-left: 40px;


        &:before {
            content: "";
            position: relative;
            height: 40px;
            width: 35px;
            display: inline-block;
            top: 20px;
            background-image: url("cssimg/icons-sprite.svg");
            background-repeat: no-repeat;
            margin-right: 32px;
            margin-left: -40px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &.pdf-link:before {
        background-position: 0 -2549px;
    }

    &.doc-link:before {
        background-position: 0 -2449px;
    }

    &.xls-link:before {
        background-position: 0 -2649px;
    }

    &.ppt-link:before {
        background-position: 0 -2949px;
    }

    &.txt-link:before {
        background-position: 0 -2749px;
    }
}

a, input, button, textarea, select {
    &.tabbed {
        outline: 2px solid $tabbed-color;
    }
}



.imageArea {
   padding: 0;
   margin: 0;
}


.imageDescription {
    background-color: $color-gray;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    text-align: right;
    display: block;
    margin-bottom: 1rem;
}

table {
    th, td {
        border: 1px solid #c8c8c8;
    }

    thead, tbody, tfoot {
        th, td {
            padding: 0.75rem 0.5rem;
            font-size: 15px;
        }
    }

    thead, tfoot {
        th {
            font-weight: bold;
        }
    }

    thead, tfoot {
        th, td {
        }
    }

    tbody {
        th, td {
        }
    }

    tfoot {
        th, td {
        }
    }
}



//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS 
// MEDIA QUERIES BELOW IS FOR MEDIUM-UP & LARGE-UP
//--------------------------------------------------------------*/

//--------------------------------------------------------------*/

// MEDIUM > LARGE SCREEN
@include breakpoint(medium) {
    h1 {
        //line-height: 47px;
    }

    // Ingress
    .ingress {
        font-size: 20px;
    }
}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE AND ABOVE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/